# --- Python / Backend ---
venv/
__pycache__/
*.pyc
# Veritabanını GitHub'a yüklemiyoruz (Güvenlik ve boyut için)
*.db
backend_honeypot/venv/

# --- Flutter / Mobile ---
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
# Build klasörü çok büyüktür, asla yüklenmez
build/
kargu_cyber_mobile/build/

# --- IDE / Editörler ---
.vscode/
.idea/
*.iml
*.iws
.DS_Store

# --- Web ---
# Eğer node_modules kullanırsan buraya eklemelisin
node_modules/